<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body style='background-image: url("http://ddragon.leagueoflegends.com/cdn/6.8.1/img/map/map1.png");  background-position: center; background-repeat: no-repeat; background-size: cover;'>
    <!-- Your page contont -->
    {% block content %}{% endblock%}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock %}
  </body>
</html>
