{% extends "/base/base.html" %}
{% from 'bootstrap/form.html' import render_field %}
{% block title %} League Of Logs{% endblock %}



{% block content %}
<div class="container-fluid" >

  <div class="row">
    <div class="col-md-1 ">



    </div>
    <div class="col-md-2 d-none d-md-block">

        <img class="img-fluid" src="{{banner}}" alt="">


    </div>
    <div class="col-md-6  col-sm-12 ">
      {% include "navbars/navbar.html" %}



      {% block navbar %}
      {% endblock %}
      <div class="jumbotron bg-dark">
        <form method="post" style="text-align: center;">
          {{ form.csrf_token() }}
          {{ render_field(form.search) }}
          {{ render_field(form.submit) }}
        </form>
        <img class="img" src="" alt="">

      </div>
    </div>
    <div class="col-md-2 d-none d-md-block">

        <img class="img-fluid" src="{{banner}}" alt="">


    </div>
  </div>
</div>


{% endblock %}
