{% extends "/base/base.html" %}
{% block title %} League Of Logs{% endblock %}
{% include "navbars/navbar.html" %}



{% block navbar %}
{% endblock %}

{% block content %}
<div class="container-fluid" >
  <div class="row">
    <div class="col-md-1">



    </div>
    <div class="col-md-2">

        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Aatrox_0.jpg" alt="">


    </div>
    <div class="col-md-6 pt-5">
      <div class="jumbotron bg-primary">


      </div>
    </div>
    <div class="col-md-2">

        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Aatrox_3.jpg" alt="">


    </div>
  </div>
</div>


{% endblock %}
