{% extends "/base/base.html" %}
{% block title %} League Of Logs{% endblock %}


{% block content %}
<div class="container-fluid" >

  <div class="row">
    <div class="col-md-1 ">



    </div>
    <div class="col-md-2 d-none d-md-block">

        <img class="img-fluid" src="http://stelar7.no/cdragon/latest/banners/profile/Demacia-1.png" alt="">


    </div>
    <div class="col-md-6  col-sm-12 ">
      {% include "navbars/navbar.html" %}

      {% block navbar %}
      {% endblock %}
      <div class="jumbotron bg-dark">
        <h2>{{summonerName}} <small> Level:{{summoner['summonerLevel']}}</small></h2>
        <h4></h4>
        <img class="img-thumbnail" src='{{profileImg}}''>
        {{summoner}}

      </div>
    </div>
    <div class="col-md-2 d-none d-md-block">

        <img class="img-fluid" src="http://stelar7.no/cdragon/latest/banners/profile/Demacia-1.png" alt="">


    </div>
  </div>
</div>


{% endblock %}
