{% extends "/base/base.html" %}
{% from 'bootstrap/form.html' import render_field %}
{% block title %} League Of Logs{% endblock %}



{% block content %}
<div class="container-fluid" >

  <div class="row">
    <div class="col-md-1 ">



    </div>
    <div class="col-md-2 d-none d-md-block">

        <img class="img-fluid" src="{{banner}}" alt="">


    </div>
    <div class="col-md-6  col-sm-12 ">
      {% include "navbars/navbar.html" %}



      {% block navbar %}
      {% endblock %}
      <div class="jumbotron bg-dark" style="text-align:center;">
        <h1>404 Error <br> <small>Summoner Not Found </small></h1>

      </div>
    </div>
    <div class="col-md-2 d-none d-md-block">

        <img class="img-fluid" src="{{banner}}" alt="">


    </div>
  </div>
</div>


{% endblock %}
